<div class="pdp-trust-badges">
  <div class="pdp-trust-item"><span>Secure Checkout</span></div>
  <div class="pdp-trust-divider"></div>
  <div class="pdp-trust-item"><span>Free Shipping</span></div>
  <div class="pdp-trust-divider"></div>
  <div class="pdp-trust-item"><span>Easy Returns</span></div>
  <div class="pdp-trust-divider"></div>
  <div class="pdp-trust-item"><span>30-Day Guarantee</span></div>
</div>
